body
{
    background-image:url("background.jpg");
}

.s1
{
color:maroon;
text-decoration:underline;
}
.titre
{
color:red;	
}
.s2
{
font-weight:bold;
color:black;
text-align:center
}
table,td
{
border-width:1px;
border-style:solid;
border-color:tomato;	

}
.s3
{
font-weight:bold;
color:blue;
text-decoration:Italic;
}
